body {
    background:#282c34;
    font: 1em "Fira Sans", sans-serif;
    word-spacing: 2px;
    color: #7c7c7c;
    margin: 0px;
}
table {
    border: 1px solid #000;
    font-family: arial, sans-serif;
    width: 100%;
    border-radius: 10px;
}
td, th {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
    background-color: #EEE4E3;
    border-radius: 10px;
}
tr:nth-child(even) {
    background-color: #dddd;
}
#main {
    padding-left: 100px;
    padding-top: 100px;
    margin: 0px 10% 0px 300px;
}
#sidebar {
    position: fixed;
    width: 15%;
    float:left;
    padding: 120px 0px 30px 20px;
    border-right: 5px solid #333;
    height: 82%;
}
#navigation_menu a{
    display:block;
    color:#F8B1FB;
    text-decoration: none;
}
#navigation_menu a:hover {
    color: #B026FF;
}
ol li{
    margin: 15px 0px 15px 0px;    
}
.header {
    color: #F8B1FB;
}
#main_header {
    width: 83%;
    left: 255px;
    background-color: #282c34; 
    border-bottom: 5px solid #333;
    text-align: center;
    position: fixed;
    bottom: 90%;
}
#main_header a:visited {
    text-decoration: none; 
    color: #F8B1FB; 
}
#main_header a:hover {
    color: #B026FF;
}
#main_icon {
    background-color: #282c34; 
    position: absolute;
    left: 5%;
    text-align: center;
    position: fixed;
}
#content {
    padding-top: 40px;
    padding: 10px;
    border: 5px solid greenyellow;
    background-color: #EFEFEF;
    color: #000;
}
#footer {
    text-align: center;
    background: #282c34;
    border-top: 5px solid rgb(51, 51, 51);
    padding-top: 25px;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}
#footer a {
    color: #F8B1FB
}
#footer a:hover {
    color: #B026FF;
}